body {
    font-family: Tahoma, Geneva, sans-serif;
}

.header {
    background-color: black;
    padding: 5px;
}

.search-bar {
    width:80%;
    margin:auto;
}

.search-vcenter{
    padding-top: 20px;
}

.icon-center{
    vertical-align: middle;
    /*padding-top: 10px;*/
}

.menu {
    background-color: black;
}

.header-link{
    text-align: center;
    color: white;
    font-weight: bold;
}

.header-link a{
    text-align: center;
    color: white;
    text-decoration: none;
}
.header-link a:visted{
    color: white;
    text-decoration: none;
}

.header-link a:hover{
    color: red;
}

.tcenter {
    text-align: center;
}

.valign{
    vertical-align: middle;
}

.info {
    padding-top: 20px;
}

.buy-button{
    background-color: red;
    color: black;
    font-size: 20px;
}

#confirm-text{
    color: red;
    font-size: 24px;
}
